@tailwind base;
@tailwind components;
@tailwind utilities;

/* TypeKit */
@import url("https://use.typekit.net/mht7tlf.css");

html {
    font-size: 16px;

    @apply antialiased;
}

p {
    line-height: 1.69rem;
}

p + p,
.heading + p {
    @apply mt-6;
}

video {
    
}

.heading {
    @apply font-bold text-ch-black tracking-slight leading-none;
}

.heading-normal {
    font-size: 2rem;
}

.heading-large {
    font-size: 2.5rem;
}

.left-50 {
    left: 50%;
}

.right-50 {
    right: 50%;
}

.height-fit {
    height: fit-content;
}

.tracking-slight {
    letter-spacing: -0.0125em;
}

.extra-brands-list {
    @apply flex flex-wrap justify-center items-center;

    > * {
        @apply mx-4;
    }
}